h1 {
    color: aliceblue;
}
a {
    color: aliceblue;
}
a:hover {
    color: rgb(253, 128, 234);
}
header {
    background-color: rgba(140, 195, 244, 0.537);
    text-align: center;
}
body {
    background-image: url('downtown.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.links {
    background-color: rgba(140, 195, 244, 0.537);
    text-align: center;
    border: 2px solid rgb(36, 69, 134);
    border-radius: 8px;
    width: 15%;
    padding: 10px;
    margin: auto;
    margin-top: 10%;
}
.vids {
    
}