h1 {
    font-size: x-large;
    color: aliceblue;
    font-family: century, gothic;
}
.title {
    margin-right: 20%;
    font-size: 35px;
}
a {
    color: aliceblue;
    font-size: x-large;
    font-family: century, gothic;
}
a:hover {
    color: rgb(253, 128, 234);
}
header {
    text-align: center;
}
.links {
    background-color: rgba(140, 195, 244, 0.537);
    text-align: center;
    border: 2px solid rgb(36, 69, 134);
    border-radius: 8px;
    width: 15%;
    padding: 30px;
    margin: auto;
    margin-top: 10%;
    height: auto;
}
.wrapper {
    width: 100;
    position: relative;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
}
.vids {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    object-fit: cover;
}

