h1 {
    color: aliceblue;
}
a {
    color: aliceblue;
}
header {
    background-color: rgba(140, 195, 244, 0.537);
    text-align: center;
}
body {
    background-color: rgb(124, 47, 47);
}
.links {
    background-color: rgba(140, 195, 244, 0.537);
    text-align: center;
    border: 2px solid rgb(36, 69, 134);
    border-radius: 8px;
    width: 15%;
    padding: 10px;
    margin: auto;
    margin-top: 10%;
}